* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #0511F2;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(fundo2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-color: #0511F2;

}

.footer {
    color: black;
}

img {
    height: 300px;
    border: 3px solid;
}

p {
    margin-right: 200px;
    margin-left: 200px;

    text-align: justify;
}