* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0059ff;
    background-attachment: fixed;
}

img {
    text-align: center;
}

body {
    background-image: url(21015287-sombrio-neon-hexagono-jogos-fundo-vetor.jpg);
    background-size: 100%;
}

.forma {
    background-color: #ff000060;
    margin: 0;
    padding: 0;
    float: none;
}

h1 {
    font-size: 50px;
    color: rgb(2, 2, 49);
    margin: 0;
    padding: 0;
}

ol {
    border-top: 2px solid;

    margin-right: 200px;
    margin-left: 200px;
}

li {
    margin: 4px;
    text-align: left;
}

h3 {
    margin: 10px;
}

div {
    text-align: center;
}

p {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;

}

img {
    height: 300px;
}

button {
    background-color: rgba(44, 0, 0, 0.349);
    border: rgba(115, 117, 255, 0.658) solid;
}

.a1 {
    float: right;
    margin-right: 100px;
}

.a2 {
    float: left;
    margin-left: 100px;
}

a {
    text-decoration: none;
}

.footer {
    text-align: center;
}