* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
}
img{
    text-align: center;
}
body {
    background-color: blanchedalmond;
}

ol {
 border: 2px solid;
    margin-right: 200px;
    margin-left: 200px;
}

li {
    margin: 4px;
}

h3 {
    margin: 10px;
}
div{
    text-align: center;
}
p {
    text-align: justify;

}

.a img {
    height: 300px;
}

.b img {
    height: 300px;
}

.c img {
    height: 300px;
}

.d img {
    height: 300px;
}

.e img {
    height: 300px;
}

.f img {
    height: 300px;
}

.g img {
    height: 300px;
}

.h img {
    height: 300px;
}

.i {
    height: 300px;
}

.j img {
    height: 300px;
}